.preview {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  border: 5px red;
  align-items: center;
}

.head {
  height: 20vh;
}

.snake {
  right: 20px;
  position: relative;
}
.duck {
  left: 75px;
  position: relative;
}

.horse {
  right: 10px;
  position: relative;
}

.shirt {
  height: 30vh;
}

.bottom {
  height: 35vh;
  right: 10px;
  position: relative;
  width: 100%;
}
